---
import Layout from './Layout.astro';
import { formatDate } from '@/utils/dateFormatter';

const { frontmatter } = Astro.props;
const formattedDate = formatDate(frontmatter.publishDate);
---
<Layout 
  title={frontmatter.title}
  description={frontmatter.description}
  author={frontmatter.author}
  publishDate={frontmatter.publishDate}
>
  <article class="content">
    <h1>{frontmatter.title}</h1>
    <p class="meta">By {frontmatter.author} on {formattedDate}</p>
    <slot />
  </article>
</Layout>

